# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
venv/
env/
temp_auto_push.bat

# Data & models
data/
models/

# Logs
*.log

# Environment files
.env
.gitignore
temp_interactive_push.bat
